.ol-overlay-container{
    color: #222;
    white-space: nowrap;

    background-color: white;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));

    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    min-width: 280px;
}

/*
.ol-overlay-container:after {
    content: "";
    background: #fff;
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);

    height: 12px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 25px;
}
*/

/*
.ol-overlay-container:after,
.ol-overlay-container:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-overlay-container:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-overlay-container:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}*/
